<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cims.tsinghua.daos.ProductionOrderRepository">
  <resultMap type="ProductionOrder" id="ProductionOrderResult">
    <id property="orderID" column="id"/>
    <result property="orderSerialNumber" column="order_serial_number" />
    <result property="productName" column="product_name" />
    <result property="productQuantity" column="product_quantity" />
    <result property="expectedStartDate" column="expected_start_date"/>
    <result property="expectedEndDate" column="expected_end_date"/>
    <result property="priority" column="priority"/>
  </resultMap>

  <select id="selectAllProductionOrder" resultMap="ProductionOrderResult">
    SELECT * FROM production_order
  </select>
  
  <select id="selectProductionOrderByID" parameterType="int" resultMap="ProductionOrderResult">
    SELECT id, order_serial_number, product_name, product_quantity, expected_start_date, expected_end_date, priority
    FROM production_order
    WHERE id=#{orderID}
  </select>
  
  <insert id="insertProductionOrder">
    INSERT INTO production_order(id, order_serial_number, product_name, product_quantity, expected_start_date, expected_end_date, priority)
    VALUES (#{orderID}, #{OrderSerialNumber}, #{productName}, #{productQuantity}, #{expectedStartDate}, #{expectedEndDate}, #{priority})
  </insert>
</mapper>